@import "~normalize.css/normalize.css";

:global :root {
  --color-main: #333333;
  --color-main_lighten: #3333331a;
  --color-secondary: #ffffff;
  --color-accent: orange;
  --color-positive: #A4CC33;
  --color-negative: #CC3361;
  --color-grey_light: #f4f4f4;
  --color-grey_lighten: #f3f3f3;
  --color-grey: #d9d9d9;
  --color-grey_darken: #c4c4c4;
  --color-grey_dark: #999999;
  --color-grey_darkest: #666666;
}


:global html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:global body {
  overflow-x: hidden;
}

:global * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global body {
  margin: 0;
  padding: 0;
  background-color: var(--color-grey_light);
  font-size: 14px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}

:global *,
:global *::before,
:global *::after {
  box-sizing: inherit;
}

:global a {
  color: inherit;
  text-decoration: none;
}

:global img {
  max-width: 100%;
}

:global h1,
:global h2,
:global h3 {
  margin: 0;
  font-weight: normal;
}

:global p {
  margin: 0;
  padding: 0;
}

:global ul,
:global ol {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

:global header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid #e0dada;
}

:global main {
  flex: 1 1 0;
}

:global footer {
  display: flex;
  justify-content: center;
  gap: 96px;
  height: 50px;
  padding: 24px 0 48px;
  color: #b3adad;
}

